html,
body {
    margin: auto;
    height: 100vh;
}

.container {
    margin: auto;
    width: 60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.fieldContainer {
    display: flex;
    justify-content: space-around;
}

.controlls {
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

.inputNumbers {
    border-radius: 2px;
    background-color: aqua;
}

.buttons {
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

#player1Label {
    color: green;
}

#player2Label {
    color: red;
}

.players {
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

#field {
    display: flex;
    width: 450px;
    height: 450px;
    border: solid 3px;
    background-color: aqua;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: stretch;
    flex: 1;
}

.cell {
    flex: 1;
    border: solid 2px;
}